
body {
  background-color: lightgrey;
  font-family: Helvetica;
}

.header {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 40px;
}

.headerTitle {
  font-size: 60px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  float: none;
}

.card {
  margin: auto;
  width: 50%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 40px;
}

.cardTitle {
  font-size: 40px;
  font-style: bold;
  font-weight: 700;
  float: none;
}

.cardClass {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  float: right;
}

.cardDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  float: none;
}

a {
  all: inherit;
}
